RewriteEngine On

# Block access to directories
RewriteRule ^log/ - [F,L]
RewriteRule ^tmp/ - [F,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^cache/data/ - [F,L]
RewriteRule ^cache/pages/ - [F,L]
RewriteRule ^cache/templates/ - [F,L]

#block access to the php files from the app,extensions directories
RewriteRule ^app/.*\.php$ - [F,L]
RewriteRule ^extensions/.*\.php$ - [F,L]


RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
