Options -Indexes +FollowSymLinks

<IfModule mod_expires.c>
    ExpiresActive On

    # CSS
    ExpiresByType text/css "access plus 30 days"

    # JavaScript
    ExpiresByType application/javascript "access plus 30 days"
    ExpiresByType text/javascript "access plus 30 days"

    # Fonts
    ExpiresByType font/woff2 "access plus 30 days"
    ExpiresByType font/woff "access plus 30 days"
    ExpiresByType application/font-woff "access plus 30 days"
    ExpiresByType application/font-woff2 "access plus 30 days"
    ExpiresByType application/vnd.ms-fontobject "access plus 30 days"
    ExpiresByType font/ttf "access plus 30 days"
    ExpiresByType font/otf "access plus 30 days"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|woff|woff2|ttf|otf|eot)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>
</IfModule>

RewriteEngine On

RedirectMatch 204 ^/favicon\.ico$

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
